-<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="fr">

    <meta name="Description" content="Web développeur freelance dans la province du Brabant Wallon. Création de site internet responsive et ergonomique.">
    <meta name="Keywords" content="développeur, developer, web, dev, freelance, Dos Santos, Bastien, Dos Santos Bastien, php, jquery, mysql, internet, site, Belgique, Genval, Brabant Wallon,">
    <meta name="Author" content="Bastien Dos Santos">
    <meta name="Robots" content="all">

    <title>Bastien Dos Santos - Développeur web</title>
</head>
<body>
    <p>Message de {{data.nom}} {{data.prenom}}</p>
    <p>Email : {{data.email}}</p>
    <p>Message :</p>
    <p>{{data.message}}</p>
</body>
</html>
